.requisicao {
    height: 100%;
    border: 2px solid #007BFF;
    padding: 1.5%;
}
.requisicao:hover{
    cursor: pointer;
    border: 2px solid red;
    opacity: 0.8;
}
.requisicao p {
    margin: 0px !important;
    padding: 0;
    display: block;
}
.titulo{
    margin:2% 0;
}
.box-card{
    margin-bottom: 2.5%;
    height: 100%;
}
